<div class="purchase-list-container">
    <div class="header">
        <h1 *ngIf="employeeRole === AuthRoles.OFFICE_MANAGER">Закупки</h1>
        <h1 *ngIf="employeeRole === AuthRoles.WAREHOUSE_WORKER">Розміщення</h1>
        <div class="header-actions">
            <button mat-raised-button color="primary" class="add-button" (click)="exportAsJson()">
                <mat-icon>upload_file</mat-icon>
                Експортувати
            </button>
            <button *ngIf="employeeRole === AuthRoles.OFFICE_MANAGER" mat-raised-button color="primary" class="add-button" (click)="openAddPurchaseDialog()">
                <mat-icon>add</mat-icon>
                Нова закупка
            </button>
            <button mat-raised-button color="accent" class="filter-button" (click)="toggleFilterPanel()">
                <mat-icon>filter_list</mat-icon>
                Фільтрувати / сортувати
            </button>
        </div>
    </div>

    <mat-sidenav-container class="purchase-sidenav-container">

        <mat-sidenav mode="side" [opened]="isFilterPanelOpen" class="filters-sidenav" position="start">
            <app-purchase-filter-panel
                    (filtersChanged)="onFiltersChanged($event)"
                    (closeRequest)="closeFilterPanel()">
            </app-purchase-filter-panel>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="purchase-content">
                <div class="masonry-container">
                    <div *ngIf="isPurchasesLoading" class="loading-spinner">
                        <mat-spinner diameter="40"></mat-spinner>
                    </div>
                    <div class="masonry-grid">
                        <div class="masonry-item" *ngFor="let purchase of purchases">
                            <app-purchase-card [purchase]="purchase"></app-purchase-card>
                        </div>
                    </div>
                </div>

                <div class="pagination-container">
                    <mat-paginator
                            [length]="totalItems"
                            [pageSize]="pageSize"
                            [pageSizeOptions]="[3, 5, 10]"
                            (page)="onPageChange($event)">
                    </mat-paginator>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>