<mat-toolbar color="primary" class="header">
    <div class="header-left">
        <a mat-button routerLink="/login" routerLinkActive="active-link" class="logo">ISP</a>
        <nav class="nav-links">
            <a mat-button routerLink="/admin/monitoring" routerLinkActive="active-link">Моніторинг</a>
        </nav>
    </div>

    <div class="header-right">
        <span class="user-name">Адмін</span>
        <button mat-icon-button aria-label="User menu" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>