<mat-accordion class="equipment-list">
    <mat-expansion-panel *ngFor="let purchaseEquipment of purchaseEquipments">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ purchaseEquipment.equipment?.name }}
            </mat-panel-title>
            <mat-panel-description>
                Кількість: {{ purchaseEquipment.purchaseEquipmentAmount }} | Ціна: {{ purchaseEquipment.price | currency }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="equipment-details" *ngIf="isPurchaseDelivered">
            <h4 class="details-title">Розміщення обладнання</h4>

            <app-equipment-placement-list
                    [purchaseEquipment]="purchaseEquipment"
                    [equipmentPlacements]="purchaseEquipment.equipmentPlacements || []">
            </app-equipment-placement-list>

            <div class="actions">
                <button *ngIf="employeeRole === AuthRoles.WAREHOUSE_WORKER" mat-raised-button color="primary" (click)="addPlacement(purchaseEquipment)">
                    <mat-icon>add</mat-icon> Додати розміщення
                </button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>