<div class="placement-list">
    <table mat-table [dataSource]="equipmentPlacements" class="mat-elevation-z8" *ngIf="equipmentPlacements.length > 0">
        <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef>Працівник</th>
            <td mat-cell *matCellDef="let placement" data-label="Працівник">
                <ng-container>
                    {{ `${placement.employee.firstName} ${placement.employee.lastName}` }}
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="office">
            <th mat-header-cell *matHeaderCellDef>Офіс</th>
            <td mat-cell *matCellDef="let placement" data-label="Офіс">
                <ng-container>
                    {{ `${placement.officeEquipment.office.address} (${placement.officeEquipment.office.city.cityName})` }}
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Дата</th>
            <td mat-cell *matCellDef="let placement" data-label="Дата">
                <ng-container *ngIf="editingPlacementId !== placement.id">
                    {{ placement.date | date:'mediumDate' }}
                </ng-container>
                <form [formGroup]="editForm" *ngIf="editingPlacementId === placement.id" class="compact-form">
                    <mat-form-field appearance="outline">
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="editForm.get('date')?.hasError('required')">
                            Обов'язково
                        </mat-error>
                    </mat-form-field>
                </form>
            </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Кількість</th>
            <td mat-cell *matCellDef="let placement" data-label="Кількість">
                <ng-container *ngIf="editingPlacementId !== placement.id">
                    {{ placement.equipmentPlacementAmount }}
                </ng-container>
                <form [formGroup]="editForm" *ngIf="editingPlacementId === placement.id" class="compact-form">
                    <mat-form-field appearance="outline">
                        <input matInput type="number" formControlName="equipmentPlacementAmount">
                        <mat-error *ngIf="editForm.get('equipmentPlacementAmount')?.hasError('required')">
                            Обов'язково
                        </mat-error>
                        <mat-error *ngIf="editForm.get('equipmentPlacementAmount')?.hasError('min')">
                            > 0
                        </mat-error>
                    </mat-form-field>
                </form>
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Дії</th>
            <td mat-cell *matCellDef="let placement" data-label="Дії">
                <ng-container *ngIf="editingPlacementId !== placement.id">
                    <button mat-icon-button color="primary" (click)="startEditing(placement)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deletePlacement(placement)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-container>
                <ng-container *ngIf="editingPlacementId === placement.id">
                    <button mat-icon-button color="warn" (click)="cancelEditing()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="savePlacement()">
                        <mat-icon>save</mat-icon>
                    </button>
                </ng-container>
            </td>
        </ng-container>

        <div *ngIf="employeeRole === AuthRoles.OFFICE_MANAGER">
            <tr mat-header-row *matHeaderRowDef="['employee', 'office', 'date', 'amount']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['employee', 'office', 'date', 'amount'];" [class.editing-row]="editingPlacementId === row.id"></tr>
        </div>

        <div *ngIf="employeeRole === AuthRoles.WAREHOUSE_WORKER">
            <tr mat-header-row *matHeaderRowDef="['employee', 'office', 'date', 'amount', 'edit']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['employee', 'office', 'date', 'amount', 'edit'];" [class.editing-row]="editingPlacementId === row.id"></tr>
        </div>

    </table>

    <div *ngIf="equipmentPlacements.length === 0" class="no-data">
        Розміщень для цього обладнання не знайдено.
    </div>
</div>